.projects {
	padding: 0 100px 85px;
}

.projects__title {
	margin: 0;
	padding: 56px 0;
	text-align: center;
	font-family: 'Sofia Sans';
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 42px;
}

.projects__cards {
	display: grid;
	row-gap: 64px;
	column-gap: 80px;
	grid-template-columns: 1fr 1fr;
}
