.projects {
	padding: 0 100px 85px;
}

.projects__title {
	margin: 0;
	padding: 56px 0;
	text-align: center;
	font-family: 'Sofia Sans';
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 42px;
}

.projects__cards {
	display: grid;
	row-gap: 64px;
	column-gap: 80px;
	grid-template-columns: 1fr 1fr;
}

.projects-cards__portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20% 45px;
}

.projects-cards__portfolio-link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #2f80ed;
}

.projects-cards__portfolio-link:hover {
	opacity: 0.8;
	transition: opacity 0.3s;
}

.projects-cards__portfolio-text {
	text-align: center;
	font-family: 'Golos Text';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.projects-cards__portfolio-image {
	width: 76px;
	height: 76px;
}

@media screen and (min-width: 1282px) {
	.projects {
		padding: 0 200px 85px;
	}
}

@media screen and (max-width: 800px) {
	.projects {
		padding: 0 50px 85px;
	}

	.projects__cards {
		display: grid;
		row-gap: 60px;
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 418px) {
	.projects {
		padding: 0 28px 85px;
	}

	/* .projects__cards {
		display: grid;
		row-gap: 60px;
		grid-template-columns: 1fr;
	} */
}


